{% extends "base.html" %}
{% load static %}


{% block title %}Bainos's music{% endblock %}

{% block imports %}
{% endblock %}

{% block content %}
<h1>All</h1>
<form action={% url "random" %}>
    <input type="submit" value="Play all">
</form>

<hr>

<p><a href="{% url "search" %}">Link to the experimental search page (WIP)</a></p>

<hr>

<h1>By category</h1>
<form action={% url "index" %}>
    {{ category_form.category }}
    <input type="submit" value="Play this">
</form>

<hr>

<h1>By artist / source</h1>
<form action={% url "index" %}>
    {{ search_form.as_p }}
    <input type="submit" value="Play this">
</form>
{% endblock %}
