{% extends "base.html" %}
{% load static %}


{% block title %}Search results{% endblock %}

{% block imports %}
    <link rel="stylesheet" href={% static "music/music.css" %}>
    <script src={% static "music/playlist.js" %} charset="utf-8"></script>
    <script src={% static "music/player.js" %} charset="utf-8"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="search-panel-head" class="col-md-2">
            <form action="{% url "search" %}">
                <p>{{ form.search }}</p>
                <input type="Submit" value="Search">
            </form>
        </div>
        <div class="col-md-2">
            <center><br><button onclick="playlist.addAll()">+ all</button></center>
        </div>
        <div id="playlist-panel-head" class="col-md-2">
            <h2>Current playlist</h2>
            <p id="playlist-item-count"></p>
        </div>
        <div class="col-md-2">
            <center><br><button onclick="playlist.removeAll()">- all</button></center>
        </div>
        <div id="player-panel-head" class="cold-md-4">
            <h2>Player</h2>
        </div>
    </div>

    <div class="row">
        <div id="search-panel" class="col-md-4">
            {% for song in songs %}
            <div id="{{ song.pk }}" class="panel panel-default panel-body song-panel search-result">
                <p>
                    <a href="{{ song.get_absolute_url }}">
                        <span class="song-name">{{ song.name }}</span>
                        <br>
                        <span class="song-artist">{{ song.artist }}</span>
                        <span class="song-source">{% if song.album %}<i>({{ song.album }}</i>){% endif %}</span>
                        <span class="song-category hidden">{{ song.genre }}</span>
                        <span class="song-filepath hidden">{% static song.filepath %}</span>
                        <span class="song-mime hidden">{{ song.mime }}</span>
                    </a>
                    <button class="pull-right" onClick="playlist.add({{ song.pk }})">+</button>
                </p>
            </div>
            {% empty %}
            <p>Sorry, no result was found.</p>
            {% endfor %}
        </div>

        <div id="playlist-panel" class="col-md-4">
        </div>

        <div id="player-panel" class="col-md-4">
            <div id="player-panel-song" class="panel panel-default panel-body text-center hidden">
                <p><b>Title:</b> <span id="player-song-name">{{ song.name }}</span></p>

                <p><b>Artist:</b> <span id="player-song-artist">{{ song.artist }}</span></p>

                <p{% if not song.genre %} class="hidden"{% endif %}><b>Category:</b> <span id="player-song-category">{{ song.genre }}</span></p>

                <p{% if not song.album %} class="hidden"{% endif %}><b>Source:</b> <span id="player-song-source">{{ song.album }}</span></p>

                <audio
                  id="player"
                  controls
                  autoplay
                  onended="playlist.startRandomSong()"
                  onvolumechange="storeVolume()">
                </audio>
            </div>
            <button onClick="playlist.startRandomSong()">Play</button>
        </div>
    </div>
{% endblock %}
