.song-panel a {
	color: #000;
}

.song-panel a:hover {
	text-decoration: none;
}

.song-panel:hover {
	background-color: #EEE;
}

#search-panel {
	max-height: 85vh;
	overflow-y: auto;
}

#playlist-panel {
	max-height: 85vh;
	overflow-y: auto;
}

#playlist-item-count {
	color: #666;
	text-decoration: italic;
}
