a {
	color: #000;
}

.song-link-block:hover {
	text-decoration: none;
	background-color: #EEE;
}

#search-panel-head {
	max-height: 20vh;
}

#search-panel {
	max-height: 85vh;
	overflow-y: auto;
}

#playlist-panel {
	max-height: 85vh;
	overflow-y: auto;
}
